body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#title {
  color:rgb(149, 199, 50);
  background-color:blue ;
  /* position: absolute; */
  /* width: 100%; */
  /* text-align: center; */
  font-family: monospace!important;
  font-size: 1.5em;
}

#Upper {
  position: relative;
  top: 100px;
}

.km-shadow {
  box-shadow: inset 0px 0px 6px 5px rgba(0,0,0,.15) !important
}
