body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#title {
  color:rgb(149, 199, 50);
  background-color:rgb(146, 50, 50) ;
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: monospace!important;
  font-size: 1.5em;
}

.navbar {
  position: relative;
  top: 80px;
}

/* #subtitle {
  color:rgb(149, 199, 50);
  position: relative;
  text-align: center;
  font-family: monospace!important;
  font-size: 1em !important;
} */

